@model List<ADWA.Models.ApplicationUser>


<table id="td-users" class="user-row">
    <thead>
    <tr>
        <th>Имя пользователя</th>
        <th>Фамилия</th>
        <th>Логин</th>
        <th>Статус VPN</th>
        <th>Активация</th>
    </tr>
    </thead>
    <tbody>
@foreach (var user in Model)
{
        
        <tr class="table-row">
            <td >@user.GivenName</td>
            <td>@user.Surname</td>
            <td>@user.SamAccountName</td>
            <td>@(user.IsDialInEnabled ? "Активен" : "Выключен")</td>
        <td class="toggle-button">
            <input type="checkbox" id="toggle-@user.SamAccountName" @(user.IsDialInEnabled ? "checked" : "") data-userid="@user.SamAccountName" />
        </td>
        </tr>
        
}
    </tbody>
</table>

@section scripts {
    <script>
    document.querySelectorAll('.toggle-button input').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
                var SamAccountName = $(this).data('userid');
                console.log(SamAccountName)
            var isChecked = this.checked;
  

            //AJAX-запрос для изменения состояния Dial-in на сервере
            var url = '/User/DisableDialIn';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': $('input[name="__RequestVerificationToken"]').val()
                },
                    body: JSON.stringify({ SamAccountName: SamAccountName, isEnabled: isChecked })
            })
                
                .then(response =>  response.json())
                .then(data => {
                    if (data.success) {
                        console.log(data)
                        //Получаем данные и обновляем страницу
                            updatePage(data.updatedData.samAccountName, data.updatedData.isDialInEnabled);

                        console.log(data);
                    }
                    else {
                        console.error('Ошибка обновления состояния в контроллере пользователя')
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
        function updatePage(SamAccountName, IsDialInEnabled) {

                // Обновляем данные пользователя на странице
            document.querySelector(`[data-userid="${SamAccountName}"]`).innerText = IsDialInEnabled;
    }
    </script>
}